.login-form-row {
    margin-top: 200px;
}

form {
    margin: 30px 15px;
}

.login-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary:disabled {
    cursor: not-allowed;
}