<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Attendance System</a>
  
    <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">Holiday Calender</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link">Leave Policy</a>
            </li>
    
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Siddharth Jadhav
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">My Leaves</a>
          <a class="dropdown-item">Apply For Leave</a>
          <a class="dropdown-item">Create User</a>
        </div>
      </li>
    </ul>
  </nav>